@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap");

.text-description {
  color: #4c5253;
  font-size: 1.125rem;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
}

.business-card {
  font-family: "Source Sans 3", sans-serif;
}

.grecaptcha-badge {
  right: 8px !important;
  bottom: 8px !important;
}

@media (max-width: 480px) {
  .grecaptcha-badge {
    transform: scale(0.9);
    transform-origin: bottom right;
  }
}
